![](https://i.imgur.com/0AUxkXt.png)

# Assignment 1 - The Hacker Rank

HackerRank is a place where programmers from all over the world come together to solve problems in a wide range of Computer Science domains.

As you solve more challenges, you earn points and move up the HackerRank Leaderboard.

Looking for a job at an awesome company? You can get hired by solving [challenges](https://www.hackerrank.com/jobs/search)!

It's cool. Let's establish your knowledge and fight for glory!

But before that let's make it clear that..

## Note-taking is IMPORTANT

Blog: [Why is note-taking important](https://nickblackbourn.com/blog/why-is-note-taking-important/)

Note taking isn’t just important for college students, it’s a valuable life skill.

Effective note taking helps you to remember information and aids your understanding of that information. 

**Notes boost your understanding**

By making notes, you force yourself to construct a conceptual mental representation of the ideas you are grappling with. It is this process that helps you comprehend the subject matter you are working with.

**Notes are a repository of your thinking**

When you need to recall something that you came across a while ago, you can go over the main ideas by looking over your notes. This is why good, comprehensive notes are so useful; they are a catalogue of the best ideas you’ve encountered, and what you thought about them.

etc.

## Requirements

Pick 10 challenges on HackerRank about SQL and 5 about Python in **easy** level:

[HackerRank - Domain SQL](https://www.hackerrank.com/domains/sql?filters%5Bdifficulty%5D%5B%5D=easy&filters%5Bsubdomains%5D%5B%5D=select)

[HackerRank - Domain Python](https://www.hackerrank.com/domains/python?filters%5Bdifficulty%5D%5B%5D=easy)

For each challenge:

* Create a markdown cell first that describes the challenge.
* Solve the challenge on HackerRank and copy your solution to a code cell below
* (Optional) A short description about how you came up with the solution would be awesome.

## Example

### SQL


#### Problem 1

Query all columns for all American cities in **CITY** with populations larger than 100000. The CountryCode for America is USA.

**Input Format**

The **CITY** table is described as follows:

| Field | Type |
|:----:|:---:|
| ID | NUMBER |
| NAME | VARCHAR2(17) |
| COUNTRYCODE | VARCHAR2(3) |
| DISTRICT | VARCHAR2(20) |
| POPULATION | NUMBER |

In [0]:
# Solution
# SELECT * from city WHERE population>100000 AND countrycode='USA';

### Python

#### Problem 1

**Task** 
Given an integer, , perform the following conditional actions:

* If `n` is odd, print *Weird*
* If `n` is even and in the inclusive range of 2 to 5, print *Not Weird*
* If `n` is even and in the inclusive range of 6 to 20, print *Weird*
* If `n` is even and greater than 20, print *Not Weird*

**Input Format**

A single line containing a positive integer, .

**Output Format**

Print Weird if the number is weird; otherwise, print Not Weird.

In [0]:
n = int(input())

if n % 2 == 1:
    print('Weird')
else:
    if (n >= 2) and (n <= 5):
        print('Not Weird')
    elif (n >= 6) and (n <= 20):
        print('Weird')
    else:
        print('Not Weird')

## Your turn

Good luck and have fun!

# SQL

Query all columns for all American **cities** in CITY with populations larger than 100000. The CountryCode for America is USA.

**Input Format**

![Input format](https://s3.amazonaws.com/hr-challenge-images/8137/1449729804-f21d187d0f-CITY.jpg)

In [0]:
SELECT *
FROM CITY
WHERE (POPULATION > 100000 AND COUNTRYCODE = 'USA')

Query the names of all American cities in **CITY** with populations larger than 120000. The CountryCode for America is USA.

**Input Format**

![Input format](https://s3.amazonaws.com/hr-challenge-images/8137/1449729804-f21d187d0f-CITY.jpg)

In [0]:
SELECT NAME
FROM CITY
WHERE POPULATION > 120000 AND COUNTRYCODE = 'USA'

Query all columns (attributes) for every row in the **CITY** table.

**Input Format**

![Input format](https://s3.amazonaws.com/hr-challenge-images/8137/1449729804-f21d187d0f-CITY.jpg)

In [0]:
SELECT *
FROM CITY

Query all columns for a city in **CITY** with the ***ID 1661***.

**Input Format**

![Input format](https://s3.amazonaws.com/hr-challenge-images/8137/1449729804-f21d187d0f-CITY.jpg)

In [0]:
SELECT *
FROM CITY
WHERE ID = 1661

Query all attributes of every Japanese city in the **CITY** table. The COUNTRYCODE for Japan is JPN.

**Input Format**

![Input format](https://s3.amazonaws.com/hr-challenge-images/8137/1449729804-f21d187d0f-CITY.jpg)

In [0]:
SELECT *
FROM CITY
WHERE COUNTRYCODE = 'JPN'

Query the names of all the Japanese cities in the **CITY** table. The COUNTRYCODE for Japan is JPN.

**Input Format**

![Input format](https://s3.amazonaws.com/hr-challenge-images/8137/1449729804-f21d187d0f-CITY.jpg)

In [0]:
SELECT NAME
FROM CITY
WHERE COUNTRYCODE = "JPN"

Query a list of **CITY** and **STATE** from the **STATION** table.


**Input Format**

The STATION table is described as follows:

![table](https://s3.amazonaws.com/hr-challenge-images/9336/1449345840-5f0a551030-Station.jpg)

In [0]:
SELECT CITY, STATE
FROM STATION

Query a list of **CITY** names from **STATION** with even **ID** numbers only. You may print the results in any order, but must exclude duplicates from your answer.

**Input Format**

The **STATION** table is described as follows:

![table](https://s3.amazonaws.com/hr-challenge-images/9336/1449345840-5f0a551030-Station.jpg)

In [0]:
SELECT DISTINCT CITY
FROM STATION
WHERE (ID % 2 = 0)

Let `N` be the number of **CITY** entries in **STATION**, and let `N'` be the number of distinct **CITY** names in **STATION**; query the value of  from **STATION**. In other words, find the difference between the total number of **CITY** entries in the table and the number of distinct **CITY** entries in the table.

**Input Format**

The **STATION** table is described as follows:

![table](https://s3.amazonaws.com/hr-challenge-images/9336/1449345840-5f0a551030-Station.jpg)

In [0]:
SELECT COUNT(CITY) - COUNT(DISTINCT(CITY))
FROM STATION

Query the two cities in **STATION** with the shortest and longest **CITY** names, as well as their respective lengths (i.e.: number of characters in the name). If there is more than one smallest or largest city, choose the one that comes first when ordered alphabetically.

**Input Format**

The **STATION** table is described as follows:

![table](https://s3.amazonaws.com/hr-challenge-images/9336/1449345840-5f0a551030-Station.jpg)

In [0]:
select CITY, length(CITY) 
from STATION 
order by length(CITY) ASC, CITY ASC
limit 1;

select CITY, length(CITY) 
from STATION 
order by length(CITY) DESC, CITY ASC
limit 1

# PYTHON

### Python IF-ELSE
https://www.hackerrank.com/challenges/py-if-else/problem

In [2]:
if __name__ == '__main__':
    n = int(input().strip())
    if n % 2 == 1:
        print("Weird")
    elif n >= 2 and n <= 5:
        print("Not Weird")
    elif n >= 6 and n <= 20:
        print("Weird")
    elif n > 20:
        print("Not Weird")

5
Weird

## Python: Division
https://www.hackerrank.com/challenges/python-division/problem

In [0]:
if __name__ == '__main__':
    a = int(input())
    b = int(input())
    print(a // b)
    print(a / b)

## Python: Loop

https://www.hackerrank.com/challenges/python-loops/problem

In [0]:
if __name__ == '__main__':
    n = int(input())
    for i in range(n):
        print(i * i)

## Python: Funtion

Check leap year

https://www.hackerrank.com/challenges/write-a-function/problem

In [0]:
def is_leap(year):
    return (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0)

year = int(input())
print(is_leap(year))

## Python: Print Funtion

https://www.hackerrank.com/challenges/python-print/problem

In [0]:
if __name__ == '__main__':
    n = int(input())

    for i in range(1, n + 1):
        print(i, end="")